* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 900px;
	padding: 10px 20px;
	margin: 0 auto;
}
.calculator-box {
	display: flex;
	justify-content: space-evenly;
	align-items: start;
	background-color: rgb(24, 25, 46);
	color: antiquewhite;
	border: 1px solid rgb(56, 56, 133);
	border-radius: 10px;
	padding: 20px 10px;
}
.calculator-title {
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	margin: 10px 5px 20px;
}
.calculator {
	width: 330px;
	height: auto;
}
.calculator-display {
	width: 100%;
	height: 50px;
	text-align: right;
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	background-color: transparent;
	border: none;
	padding: 20px 10px 20px 0;
}
.calculator-display::placeholder {
	color: #fff;
}
.calculator-btn-wrapper {
	max-width: 100%;
	margin: 10px auto;
	border-spacing: 0;
}
.calculator-btn-wrapper td {
	width: 75px;
	height: 75px;
}
.calculator-btn-wrapper tbody {
	margin: -10px;
	display: block;
	border-spacing: 10px;
}
.calculator-btn {
	border: none;
	font-size: 28px;
	color: black;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 10px;
	cursor: pointer;
}
.calculator-btn--accent {
	background-color: rgb(0, 70, 102);
	color: aliceblue;
}
.logs {
	width: 400px;
	height: 470px;
	border: 1px solid aliceblue;
	padding: 20px 10px;
	border-radius: 10px;
	overflow-y: auto;
}
.logs-title {
	text-align: center;
	font-weight: normal;
	color: aliceblue;
}
.logs-list {
	padding: 15px;
	margin: 0 auto;
}
.logs-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.logs-item.active {
	display: none;
}
.logs-result {
	font-size: 30px;
	color: aliceblue;
}
.active {
	background-color: red;
}
.logs-flag {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
}
.logs-flag::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	border: 2px solid red;
	border-radius: 50%;
	background-color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.logs-flag::before .active {
	background-color: red;
}
.logs-remove {
	font-size: 40px;
	display: block;
	cursor: pointer;
}
.underlined {
	text-decoration: underline;
}
